* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "roboto-black";
	src: url("fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: "roboto-medium";
	src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "roboto-regular";
	src: url("fonts/Roboto-Regular.ttf");
}

body {

}

/*cabeçalho*/
nav.navbar-default {
	background-color: #fff;

	margin-bottom: 0px !important;

	border-radius: 0px;

	font-family: 'roboto-medium';
	
	font-size: 13px;

	padding-top: 12px;
	padding-bottom: 12px;

	box-shadow: 0px 0px 10px #666666;
}

nav.navbar-default ul li a:hover {
	color: #176610 !important;
	transition: 0.5s;
}

nav.navbar-default ul li a.produtos {
	-webkit-animation-delay: 0.5s;
}

nav.navbar-default ul li a.contato {
	-webkit-animation-delay: 1s;
}

li a.active {
	color: #176610 !important;
	font-family: 'roboto-black';
}

/*HOME*/
/*corpo*/
div.container-fluid {
	margin: 0px;
	padding: 0px;
}

div.panel-default {
	margin-top: 50px;

	border-radius: 0px;
	border: none;

	box-shadow: none;

	font-family: 'roboto-medium';

	color: #176610;
}

div.panel-body {
	padding: 0px !important;
}

/*panel1*/
div.cont1 div.panel1 div.row {
	box-shadow: 0px 0px 20px #cccccc;

	border-radius: 1px;

	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
}

div.cont1 div.panel1 div.col-sm-7 {
	padding-right: 0px !important; 
	padding-left: 0px !important;

	border-left: 10px solid #176610;
}

div.cont1 div.panel1 div.col-sm-5 { 
	padding-top: 71px; 
	padding-bottom: 71px; 

	text-align: left;

	background-image: url("img/bg_pg-sm.jpg");
	background-size: cover;
	background-clip: padding-box;
	background-origin: padding-box;
	background-repeat: no-repeat;
}

/*panel2*/
div.cont1 div.panel2 div.row {
	box-shadow: 0px 0px 20px #cccccc;

	border-radius: 1px;

	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.5s;
}

div.cont1 div.panel2 div.col-sm-5 {
	padding-top: 71px;
	padding-bottom: 71px;

	text-align: right;

	background-image: url("img/bg_pg-sm.jpg");
	background-size: cover;
	background-clip: padding-box;
	background-origin: padding-box;
	background-repeat: no-repeat;
} 

div.cont1 div.panel2 div.col-sm-7 {
	padding-right: 0px !important;
	padding-left: 0px !important;

	border-right: 10px solid #176610;
}

a.chevron-up {
	text-decoration: none;
	color: #176610;

	-webkit-animation-delay: 0.5s;
	-webkit-animation-duration: 2s;
}

a.chevron-up:hover {
	color: #176610;
}

/*EMPRESA*/
body.body-empresa {
	background-image: url("img/bg_empresa.jpg");
	background-size: cover; /*preencher a largura da imagem de fundo*/
	background-clip: padding-box;
	background-origin: padding-box;
	background-repeat: no-repeat;
}

div.panel-empresa {
	box-shadow: 0px 0px 20px #cccccc;

	border-right: 10px solid #176610;
}

div.panel-empresa div.panel-heading {
	background-color: #ffffff;

	color: #176610;	
}

div.panel-empresa div.panel-heading p {
	font-family: 'roboto-regular';
}

/*PRODUTOS*/
body.body-produtos {
	background-image: url("img/bg_produtos.jpg");
	background-size: cover; /*preencher a largura da imagem de fundo*/
	background-clip: padding-box;
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.well-produtos1 {
	border: none;
	border-right: 10px solid #176610;
	border-radius: 1px;

	background-color: #ffffff;

	box-shadow: 0px 0px 20px #cccccc;

	font-family: 'roboto-medium';
	color: #176610;

	padding-top: 1px;
	padding-bottom: 10px;
}

div.well-produtos2 {
	border: none;
	border-bottom: 3px solid #176610;
	border-radius: 0px;

	background-color: #ffffff;
	color: #176610;

	font-family: 'roboto-medium';

	box-shadow: none;

	padding-bottom: 5px;
}

div.panel-group {
	background-color: #ffffff;

	box-shadow: 0px 0px 20px #cccccc;

	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;

	border-radius: 1px;
}

div.panel-group div.panel-default {
	margin-top: 0px;
}

div.panel-group div.panel-heading {
	font-family: 'roboto-regular' !important;

	box-shadow: none;

	border: none;
	border-bottom: 1px solid #cccccc;
	border-radius: 0px;

	background-color: #ffffff !important;

	padding-top: 0px !important;
	padding-bottom: 5px !important;
}

div.panel-group div.panel-heading a {
	color: #176610;
}

div.panel-heading a:hover {
	text-decoration: none;
	color: #0a2c07 !important;
}

div.panel-heading a:link {
	text-decoration: none;
}

div.panel-group div.panel-body {
	color: #808080;

	font-family: 'roboto-regular';

	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

div.dropdown a {
	text-decoration: none;
}

div.dropdown p.dropdown-menu {
	border-radius: 1px;
}

/*CONTATO*/
div.container-localizacao {
	padding-top: 25px; 
	padding-bottom: 28px;

	font-family: 'roboto-medium';
	text-align: center;
	color: #176610;
}

div.container-contato p {
	font-family: 'roboto-regular' !important;
}

div.container-contato {
	padding-top: 60px;
	padding-bottom: 55px;

	font-family: 'roboto-medium';
	text-align: center;
	color: #176610;
}

/*rodapé*/
footer {
	padding-top: 25px;
	padding-bottom: 25px;

	background-color: #ffffff;

	color: #333333;

	border-top: 15px solid #176610;

	text-align: center;
	font-family: 'roboto-regular';
}
