* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "roboto-black";
	src: url("fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: "roboto-medium";
	src: url("fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "roboto-regular";
	src: url("fonts/Roboto-Regular.ttf");
}

body {
	background-color: #176610;
}

/*cabeçalho*/
nav.navbar-default {
	background-color: #fff;

	margin-bottom: 0px !important;

	border-radius: 0px;

	font-family: 'roboto-medium';
	
	font-size: 13px;

	padding-top: 12px;
	padding-bottom: 10px;

	box-shadow: 0px 0px 10px #666666;
}

nav.navbar-default ul li {
	list-style-type: none;
	display: inline;
}

nav.navbar-default ul li a {
	text-decoration: none;
	color: #1a1a1a;
}

nav.navbar-default ul li a:hover {
	color: #176610;
}

a#select {
	color: #176610;
	font-weight: bold;
}

/*corpo*/
div.container-fluid {
	margin: 0px;
	padding: 0px;
}